.MapParent{
    display: grid;
    grid-template-columns:250px 250px 250px;
    grid-template-rows: 250px 250px;
    grid-gap: 2px;
    justify-content: center;
    margin-top: 20px;
}

.MapChild{
    background-color: black;
}